---
import Layout from '../layout.astro';
import { getCollection } from 'astro:content';

// get and filter posts to list published content
const posts = await getCollection('blog', ({ data }) => {return data.published === true;});
---

<Layout title='The Imperial Realm' description='A news portal for Imperial Diplomacy'>

    {posts.toReversed().map(post => (
    <a href={`https://www.imperialdiplomacy.com/imperialrealm/${post.id}`} class="post-link">
        <section>
            <h2 class="title">{post.data.title}</h2>
            <div class="band">
                <p>{post.data.author}</p>
                <p>•</p>
                <p>{post.data.pubDate.toLocaleDateString('en-us', {year: 'numeric', month: 'short', day: 'numeric'})}
                </p>
            </div>
            <p class="description">{post.data.description}</p>
        </section>
    </a>
    ))}

    <section>
        <h2 class="title">How to add an article to the Imperial Realm</h2>
        <div class="band">
            <p>The Imperial Realm Admin Team</p>
            <p>•</p>
            <p>first</p>
        </div>
        <p class="description">Do you want to add an article to the Imperial Realm? You are welcome to do so! Please
            submit it on <a href="https://discord.gg/invite/imperial-diplomacy-1201167737163104376">discord</a>. </p>
        <p class="description">If you want a style guide of what is possible with this template, check out our
            <a href="./template">Template</a>.
        </p>
    </section>

</Layout>
