---
import Layout from '../layout.astro';
import { getCollection } from 'astro:content';

// get and filter posts to list published content
const posts = await getCollection('blog', ({ data }) => {return data.published === true;});
---

<Layout title='The Imperial Realm' description='A news portal for Imperial Diplomacy'>
    <div class="banner-wrapper">
        <img class="banner" src="/imperialrealm/banner.webp" alt="The Imperial Realm banner with it's name">
    </div>
    {posts.toReversed().map(post => (
    <a href={`/imperialrealm/${post.id}`} class="article-wrapper">
        <section>
            <h2 class="title">{post.data.title}</h2>
            <div class="band">
                <p>{post.data.author}</p>
                <p>•</p>
                <p>{post.data.pubDate.toLocaleDateString('en-us', {year: 'numeric', month: 'short', day: 'numeric'})}
                </p>
            </div>
            <p>{post.data.description}</p>
        </section>
    </a>
    ))}

    <div class="article-wrapper">
    <section>
        <h2 class="title">How to add an article to the Imperial Realm</h2>
        <div class="band">
            <p>The Imperial Realm Admin Team</p>
            <p>•</p>
            <p>first</p>
        </div>
        <p>Do you want to add an article to the Imperial Realm? Awesome! There are 2 options:</p>
        <ol>
            <li>If you only want to give us the text and images and not worry about formatting, just send it to us on <a
                    href="https://discord.gg/invite/imperial-diplomacy-1201167737163104376">discord</a>! This is the
                easiest way to submit content.</li>
            <li>If you want to help us a bit and format your own text before sending it to us, continue reading below.
            </li>
        </ol>
        <h2>Formatting</h2>

        <p>The Imperial Realm website is using Markdown for formatting. Check out the basic syntax <a
                href="https://www.markdownguide.org/basic-syntax/">here</a> and see how it looks on the Imperial Realm
            site <a href="https://imperialdiplomacy.com/imperialrealm/template/">here</a>.</p>

        <p>With these basic rules, you can easily make your own text files, which then work on the Imperial Realm
            website. For this, download the empty template file <a
                href="https://raw.githubusercontent.com/Janybanny/the-imperial-realm/refs/heads/main/articles/empty.md"
                download>here</a> and then add your content. Look out for the parameters at the top, you have to add the
            metadata for the publication there. Make sure to add it inbetween the apostrophes. Write the text below, but
            make sure to not add the title. This is automatically done from the title parameter.</p>

        <p>You have to fill in:</p>

        <ul>
            <li>title</li>
            <li>description</li>
            <li>author</li>
        </ul>

        <p>That's it! Send us the file and we will proofread it and then add the article to the website.</p>
        <p>Thank you for contributing to the Imperial Realm!</p>
        <p></p>
    </section>
    </div>
</Layout>
