---
import Layout from '../layout.astro';
import { getCollection } from 'astro:content';

// get and filter posts to list published content
const posts = await getCollection('blog', ({ data }) => {return data.published === true;});
---

<Layout title='The Imperial Realm' description='A news portal for Imperial Diplomacy'>

    {posts.toReversed().map(post => (
    <a href={`/imperialrealm/${post.id}`} class="post-link">
        <section>
            <h2 class="title">{post.data.title}</h2>
            <div class="band">
                <p>{post.data.author}</p>
                <p>•</p>
                <p>{post.data.pubDate.toLocaleDateString('en-us', {year: 'numeric', month: 'short', day: 'numeric'})}
                </p>
            </div>
            <p>{post.data.description}</p>
        </section>
    </a>
    ))}

    <section>
        <h2 class="title">How to add an article to the Imperial Realm</h2>
        <div class="band">
            <p>The Imperial Realm Admin Team</p>
            <p>•</p>
            <p>first</p>
        </div>
        <p>Do you want to add an article to the Imperial Realm? Awesome! There are 2 options:</p>
        <ol>
            <li>If you only want to give us the text and images and not worry about formatting, just send it to us on <a
                    href="https://discord.gg/invite/imperial-diplomacy-1201167737163104376">discord</a>! This is the
                easiest way to submit content.</li>
            <li>If you want to help us a bit and format your own text before sending it to us, continue reading below.
            </li>
        </ol>
        <h2>Formatting</h2>

        <p>The Imperial Realm website is using Markdown for formatting. Check out the basic syntax <a
                href="https://www.markdownguide.org/basic-syntax/">here</a> and see how it looks on the Imperial Realm
            site <a href="https://imperialdiplomacy.com/imperialrealm/template/">here</a>.</p>

        <p>With these basic rules, you can easily make your own text files, which then work on the Imperial Realm
            website. For this, download the empty template file <a
                href="https://raw.githubusercontent.com/Janybanny/the-imperial-realm/refs/heads/main/articles/empty.md"
                download>here</a> and then add your content. Look out for the parameters at the top, you have to add the
            metadata for the publication there. Make sure to add it inbetween the apostrophes. Write the text below, but
            make sure to not add the title. This is automatically done from the title parameter.</p>

        <p>You have to fill in:</p>

        <ul>
            <li>title</li>
            <li>description</li>
            <li>author</li>
        </ul>

        <pre class="astro-code github-dark" style="background-color:#24292e;color:#e1e4e8; overflow-x: auto;"
            tabindex="0" data-language="md">
            <code>
                <span class="line"><span style="color:#79B8FF;font-weight:bold">---</span></span>
                <span class="line"><span style="color:#E1E4E8">title: 'The title of the article'</span></span>
                <span class="line"><span style="color:#E1E4E8">description: 'The description, which is displayed on the
                        list of articles and in the embed when you share</span></span>
                <span class="line"><span style="color:#E1E4E8">the article'</span></span>
                <span class="line"><span style="color:#E1E4E8">author: 'your name'</span></span>
                <span class="line"><span style="color:#E1E4E8">pubDate: 2020-02-20</span></span>
                <span class="line"><span style="color:#E1E4E8">published: false</span></span>
                <span class="line"><span style="color:#79B8FF;font-weight:bold">---</span></span>
                <span class="line"></span>
                <span class="line"><span style="color:#E1E4E8">Your article text goes here</span></span>
            </code>
        </pre>

        <p>That's it! Send us the file and we will proofread it and then add the article to the website.</p>
    </section>
</Layout>
