<pre class="astro-code github-dark" style="background-color:#24292e;color:#e1e4e8; overflow-x: auto;" tabindex="0" data-language="md">
<code><span class="line"><span style="color:#79B8FF;font-weight:bold">---</span></span>
<span class="line"><span style="color:#E1E4E8">title: 'The title of the article'</span></span>
<span class="line"><span style="color:#E1E4E8">description: 'The description, which is displayed on the list of articles and in the embed when you share the article</span></span>
<span class="line"><span style="color:#E1E4E8">author: 'your name'</span></span>
<span class="line"><span style="color:#E1E4E8">pubDate: 2020-02-20</span></span>
<span class="line"><span style="color:#E1E4E8">published: false</span></span>
<span class="line"><span style="color:#79B8FF;font-weight:bold">---</span></span>
<span class="line"></span>
<span class="line"><span style="color:#E1E4E8">Your article text goes here</span></span>
</code>
</pre>
