
@font-face {
    font-family: "Germania One";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./GermaniaOne.woff2) format('woff2');
}

body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0;
    padding: 0;
    background-image: url("/images/homebanner.png");
    font-family: "Germania One";
}

main,
.banner {
    max-width: 1000px;
    width: 100%;
    background-image: url("/imperialrealm/bg.png");
    background-repeat: repeat;
}

section,
article {
    background-image: url("/imperialrealm/bg.png");
    background-repeat: repeat;
    padding: 1rem;
    mask:
        linear-gradient(180deg,#0000 .4rem,#000 0),
        radial-gradient(.4rem,#000 calc(100% - 1px),#0000) top/0.74rem 0.8rem
}

.post-link:nth-child(1) {
    filter: drop-shadow(2px -6px 10px rgba(0, 0, 0, 0.24));

}

.post-link:nth-child(2) {
    filter: drop-shadow(3px -6px 10px rgba(0, 0, 0, 0.24));

}

article {
    padding-bottom: 4em;
    margin: 0;
}

/* Footnotes */
article>section {
    filter: none;
    padding: 0;
    margin-top: 2em;
    border-top: solid #444444;
}

/* Blockquots */
blockquote {
    border-left: solid #444444;
    padding-left: 1em;
    margin-left: 2em;
}

/* Tables */
table {
    text-align: center;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #444444;
    padding: .2em;
}

thead {
    border-bottom: 2px solid #444444;
}

tr:first-child th {
    border-top: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:first-child,
tr th:first-child {
    border-left: 0;
}

tr td:last-child,
tr th:last-child {
    border-right: 0;
}

h1 {
    font-size: 3em;
    text-align: center;
}

/* Images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 32em;
    max-width: 100%;
}

.article-wrapper,
.post-link {
    text-decoration: none;
    color: black;
    display: inline;
}

.article-wrapper {
    filter: drop-shadow(4px -6px 10px rgba(0, 0, 0, 0.24));
}

.band {
    display: flex;
    gap: 1em;
    justify-content: center;
    border: solid #444444;
    border-width: 2px 0;
    font-size: .8em;
}

.band>p {
    margin: .2em;
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    /*   Special font   */
}

/*navbar on whole width*/
header {
    width: 100vw;
    box-sizing: border-box;
}

.astro-code {
    padding: .5em;
}

code {
    background-color: #24292e;
    color: #e1e4e8;
    padding: 0 0.2em;
}
